<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Diginet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72869A6A1D6ACB7600D72802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72869A831D6ACB7700D72802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72869A8E1D6ACB7700D72802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
